# requirements.txt (FINAL VERSION)
fastapi
email-validator
uvicorn
gunicorn
sqlalchemy
alembic
psycopg2
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
celery
redis
transformers
torch
torchvision
torchaudio
honcho